<div class="fb-share">
<p>Share this in facebook</p>
<a class="facebook" href ='http://www.facebook.com/sharer.php?u=<%=product_url%>' target = "_blank"><img src="/images/btn-facebook.png"><img></a>
</div>






